.tab {
  display: flex;
  font-size: 0.12rem;
  width: 7rem;
  height: 1.5rem;
}
.tab span {
  text-align: center;
  display: inline-block;
  padding: 0.02rem 0.1rem;
  color: #F2FFFF;
  width: 4.2rem;
  height: 1.8rem;
  background: rgba(39, 114, 239, 0.2);
  line-height: 1.8rem;
  margin: auto;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-out;
}
.tab span.selected {
  background: linear-gradient(to bottom, #0099FF, #0099FF) left top no-repeat, linear-gradient(to left, #0099FF, #0099FF) right top no-repeat, linear-gradient(to bottom, #0099FF, #0099FF) right top no-repeat, linear-gradient(to right, #0099FF, #0099FF) left top no-repeat, linear-gradient(to left, #0099FF, #0099FF) left bottom no-repeat, linear-gradient(to bottom, #0099FF, #0099FF) left bottom no-repeat, linear-gradient(to left, #0099FF, #0099FF) right bottom no-repeat, linear-gradient(to left, #0099FF, #0099FF) right bottom rgba(39, 114, 239, 0.2) no-repeat;
  background-size: 0.5rem 0.2rem;
  opacity: 1;
}
.tab2 {
  display: flex;
  font-size: 0.12rem;
  width: 7rem;
  height: 1.5rem;
}
.tab2 span {
  text-align: center;
  display: inline-block;
  padding: 0.02rem 0.1rem;
  color: #F2FFFF;
  width: 4.2rem;
  height: 1.8rem;
  background: rgba(39, 114, 239, 0.2);
  line-height: 1.8rem;
  margin: auto;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-out;
}
.tab2 span.selected {
  background: linear-gradient(to bottom, #0099FF, #0099FF) left top no-repeat, linear-gradient(to left, #0099FF, #0099FF) right top no-repeat, linear-gradient(to bottom, #0099FF, #0099FF) right top no-repeat, linear-gradient(to right, #0099FF, #0099FF) left top no-repeat, linear-gradient(to left, #0099FF, #0099FF) left bottom no-repeat, linear-gradient(to bottom, #0099FF, #0099FF) left bottom no-repeat, linear-gradient(to left, #0099FF, #0099FF) right bottom no-repeat, linear-gradient(to left, #0099FF, #0099FF) right bottom rgba(39, 114, 239, 0.2) no-repeat;
  background-size: 0.5rem 0.2rem;
  opacity: 1;
}
.tab3 {
  display: flex;
  font-size: 16px;
}
.tab3 span {
  text-align: center;
  display: inline-block;
  padding: 1px 13px;
  color: #BABABA;
  background: #0F1D3F;
  line-height: 1.8rem;
  width: 90px;
  height: 30px;
  margin: auto;
  position: relative;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-out;
  border-radius: 3px;
}
.tab3 span.selected {
  color: #FFFFFF;
  background: linear-gradient(270deg, #13325e 0%, #225ea0 100%);
  opacity: 1;
  width: 90px;
  height: 30px;
}
.tab3 span.selected::before {
  content: ' ';
  position: absolute;
  width: 4px;
  background: #0ed6f5;
  height: 24px;
  left: 0px;
  top: 2px;
}
.tab4 {
  display: flex;
  font-size: 16px;
}
.tab4 span {
  text-align: center;
  display: inline-block;
  padding: 1px 13px;
  color: #BABABA;
  background: #0F1D3F;
  line-height: 1.8rem;
  width: 90px;
  height: 30px;
  margin: auto;
  position: relative;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-out;
  border-radius: 1px;
}
.tab4 span.selected {
  color: #FFFFFF;
  background: linear-gradient(180deg, rgba(19, 129, 206, 0) 0%, #1381ce 100%);
  opacity: 1;
  width: 90px;
  height: 30px;
}
.tab5 {
  display: flex;
  font-size: 16px;
}
.tab5 span {
  text-align: center;
  display: inline-block;
  padding: 1px 13px;
  color: #fff;
  background: rgba(51, 161, 255, 0.08);
  line-height: 1.8rem;
  width: 90px;
  height: 30px;
  margin: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 1px;
}
.tab5 span.selected {
  color: #FFFFFF;
  background: #00B1FF;
  opacity: 1;
  width: 90px;
  height: 30px;
}
